@media screen and (min-width: 291px) and (max-width: 381px)
{
    .g-recaptcha
    {
        transform:scale(0.67);
        -webkit-transform:scale(0.67);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
         margin-bottom: -18px;
    }
}

@media screen and (min-width: 383px) and (max-width: 767px)
{
    .g-recaptcha
    {
        transform:scale(0.80);
        -webkit-transform:scale(0.80);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
         margin-bottom: -10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 979px){
    .g-recaptcha
    {
        transform:scale(0.62);
        -webkit-transform:scale(0.62);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
         margin-bottom: -24px;
    }
}

@media screen and (min-width: 980px) and (max-width: 1199px){
    .g-recaptcha
    {
        transform:scale(0.85);
        -webkit-transform:scale(0.85);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
         margin-bottom: -5px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1366px){
    .g-recaptcha
    {
        margin-bottom: 5px;
    }
}

